@import url('https://fonts.googleapis.com/css?family=Advent+Pro|Archivo+Black|Baloo+Tammudu|Changa+One|Jura|Lalezar|Russo+One');
page-into-login {
    $background: #02030C;
    $background-submit: #6568EE;
    $input-radius: 3px;
    $bg-size: cover;
    $filter: '';//contrast(200%) grayscale(100%);
    // Images
    $bg-image1: 'https://static.pexels.com/photos/345135/pexels-photo-345135.jpeg';
    $bg-image2: '/assets/images/artisan.jpg';
    $bg-image3: 'https://static.pexels.com/photos/8171/pexels-photo.jpg';
    // Fonts
    $font-brand: 'Archivo Black', sans-serif;
    $font2: 'Baloo Tammudu', cursive;
    $font3: 'Russo One', sans-serif;
    $font4: 'Changa One', cursive;
    $font5: 'Lalezar', cursive;
    $font6: 'Advent Pro', sans-serif;
    $font-slogan: 'Jura', sans-serif;

    .scroll-content {
      overflow-x: hidden !important;
      overflow-y: hidden !important;
    }

    .container {
      background: url($bg-image2) no-repeat center center fixed;
      -webkit-background-size: $bg-size;
      -moz-background-size: $bg-size;
      -o-background-size: $bg-size;
      background-size: $bg-size;
      height: 100%;
      overflow: hidden;
      -webkit-filter: $filter;
      filter: $filter;
    }

    .brand-name {
      color: #fff; 
      font-size: 40px; 
      font-family: $font-brand;
      filter: drop-shadow(1px 1px 1px #000);
    }

    .slogan {
      color: #fff; 
      font-size: 12px; 
      font-family: $font-slogan;
      filter: drop-shadow(1px 1px 1px #000);
    }

    .footer .btn-footer {
      -webkit-filter: none !important;
      filter: none !important;
    }
}
